html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}

nav .logo {
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 40px;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: blueviolet;
}

nav ul li a:hover {
  border-radius: 4px;
  background-color: gainsboro;
}

main {
  padding: 16px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  background-color: rgba(18, 50, 122, 0.999);
}

.image,
.card {
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
}

.image img {
  width: 100%;
  height: auto;
}

.card {
  flex: 1;
  color: white;
  text-align: center;
}

.card .btn {
  padding: 12px;
  border-radius: 20px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

h1,
h2 {
  text-align: center;
  margin-top: 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.about-section,
.services-list {
  flex: 1;
  padding: 8px;
  margin-bottom: 10px;
}

.services-list ul {
  margin-left: 30%;
}

footer {
  background: aliceblue;
  padding: 8px;
  color: blueviolet;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.service-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.service-details .image {
  flex: 1;
  max-width: 50%;
}

.service-details .image img {
  width: 100%;
  height: auto;
}

.service-details .content {
  flex: 1;
  padding: 0 30px;
}

.meals {
  margin: 20px;
}

.recipe-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
}

.recipe-card {
  width: 280px;
  margin-bottom: 20px;
}

.recipe-card img {
  width: 100%;
  height: auto;
}

.recipe-card .caption {
  text-align: center;
  margin-top: 8px;
}

@media screen and (max-width: 600px) {
  .logo {
    border-radius: 10px;
  }
  nav ul li {
    margin-left: 20px;
  }

  main {
    padding: 8px;
  }

  .home {
    flex-direction: column;
  }

  .image,
  .card {
    max-width: 100%;
  }

  .card {
    padding: 40px;
  }

  .main-content {
    flex-direction: column;
  }

  .services-list ul {
    margin-left: 20%;
  }

  .recipe-card {
    width: 400px;
  }
}
